<div id="addManualRecipe-container">
  <h1 class="addManualRecipe-title">Add a New Recipe</h1>
  
  <!-- The classes are shared for styling purposes. To manipulate and save data, id's are to be used. -->
<!-- <form method="POST" action="/recipes/newRecipe"> -->
  <div class="addManualRecipe-cooking">
    <div class="addManualRecipeform-group field">
      <input
        type="input"
        class="addManualRecipeform-field"
        placeholder="Cooking time"
        name="cookingtime"
        id="addManualRecipe-cookingtime"
        required
      />
      <label for="title" class="addManualRecipeform-label" >Cooking time</label>
    </div>
  </div>

  <div class="addManualRecipe-inputs">
    <div class="addManualRecipeform-group field">
      <input
        type="input"
        class="addManualRecipeform-field"
        placeholder="Title"
        name="title"
        id="addManualRecipe-title"
        required
      />
      <label for="title" class="addManualRecipeform-label">Title</label>
    </div>

    <div class="addManualRecipeform-group field">
      <input
        type="input"
        class="addManualRecipeform-field"
        placeholder="Main ingredient"
        name="mainingredient"
        id="addManualRecipe-mainIngredient"
        required
      />
      <label for="title" class="addManualRecipeform-label">Main ingredient</label>
    </div>

    <div class="addManualRecipe-servings-cooking">
      <div class="addManualRecipe-servings">
        <label
          id="addManualRecipe-servings"
          class="field"
          for="portions-selecting"
          data-value=""
        >
          <span>Portions</span>
          <div id="addManualRecipe-portions" class="psuedo_select" name="portions-selecting">
            <span class="selected"></span>
            <ul id="addManualRecipe-portions-options" class="options">
              <li class="addManualRecipe-options option" data-value="1 pers">1</li>
              <li class="addManualRecipe-options option" data-value="2 pers">2</li>
              <li class="addManualRecipe-options option" data-value="3 pers">3</li>
              <li class="addManualRecipe-options option" data-value="4 pers">4</li>
              <li class="addManualRecipe-options option" data-value="5 pers">5</li>
              <li class="addManualRecipe-options option" data-value="6 pers">6</li>
            </ul>
          </div>
        </label>
      </div>
    </div>
    <h2 class="addManualRecipe-ingredients-title">Ingredients</h2>
    <div class="addManualRecipe-ingredients">
<!-- For the ingredients they have shared class of addManualRecipe-quantity / addManualRecipe-unit / addManualRecipe-ingredientname -->  
      <div class="addManualRecipe-addingredients">
        <div class="addManualRecipeform-group field">
          <input
            type="input"
            class="addManualRecipeform-field addManualRecipe-quantity"
            placeholder="Quantity"
            name="quantity"
            required
          />
          <label for="quantity" class="addManualRecipeform-label">Quantity</label>
        </div>
        <div class="addManualRecipeform-group field">
          <input
            type="input"
            class="addManualRecipeform-field addManualRecipe-unit"
            placeholder="Unit"
            name="unit"
            required
          />
          <label for="quantity" class="addManualRecipeform-label">Unit</label>
        </div>
        <div class="addManualRecipeform-group field">
          <input
            type="input"
            class="addManualRecipeform-field addManualRecipe-ingredientname"
            placeholder="Ingredient name"
            name="ingredientname"
            required
          />
          <label for="ingredientname" class="addManualRecipeform-label">Name</label>
        </div>
        <div class="addManualRecipe-addIngredient">
          <i class="lni lni-circle-plus"></i>
        </div>
      </div>
      <div class="addManualRecipe-addingredients">
        <div class="addManualRecipeform-group field">
          <input
            type="input"
            class="addManualRecipeform-field addManualRecipe-quantity"
            placeholder="Quantity"
            name="quantity"
            required
          />
          <label for="quantity" class="addManualRecipeform-label">Quantity</label>
        </div>
        <div class="addManualRecipeform-group field">
          <input
            type="input"
            class="addManualRecipeform-field addManualRecipe-unit"
            placeholder="Unit"
            name="unit"
            required
          />
          <label for="quantity" class="addManualRecipeform-label">Unit</label>
        </div>
        <div class="addManualRecipeform-group field">
          <input
            type="input"
            class="addManualRecipeform-field addManualRecipe-ingredientname"
            placeholder="Ingredient name"
            name="ingredientname"
            required
          />
          <label for="ingredientname" class="addManualRecipeform-label">Name</label>
        </div>
        <div class="addManualRecipe-addIngredient">
          <i class="lni lni-circle-plus"></i>
        </div>
      </div>
    </div>
    <div class="addManualRecipe-preparation">
      <h2 class="addManualRecipe-preparation">Preparation</h2>
      <div class="addManualRecipe-preparationbox">
        <p class="addManualRecipe-preparationtext" contenteditable="true"></p>
      </div>
    </div>
    <div class="addManualRecipe-select">
      <label
        id="img_category_label"
        class="field"
        for="img_category"
        data-value=""
      >
        <span>Category</span>
        <div id="img_category" class="psuedo_select" name="img_category">
          <span class="selected"></span>
          <!-- <select id="img_category_options" class="options" name="img_category"> -->
          <ul id="img_category_options" class="options">
            <!-- <option class="addManualRecipe-categories option" data-value="category_1" value="Pasta">Pasta</option>
            <option class="addManualRecipe-categories option" data-value="category_2" value="Cake">Cake</option> -->
            <li class="addManualRecipe-categories option" data-value="category_1">Pasta</li>
            <li class="addManualRecipe-categories option" data-value="category_2">Cake</li>
          </ul>
        <!-- </select> -->
        </div>
      </label>
    </div>
    <div class="addManualRecipe-image">
      <label for="imageupload" class="addManualRecipe-uploadtext">Image</label>
      <input
        type="text"
        id="addManualRecipe-imageupload"
        name="imageupload"
        placeholder="Paste image link here"
      />
    </div>

    <button id="addRecipeBtn" class="addManualRecipe-done">Done</button>
  <!-- </form> -->
  </div>
</div>

