<div class="homepage-background">

  <section class="homepage-top-nav">
    <a href="#" class="homepage">
      <img class="homepage-logo" src="static/assets/NACLogo.png"
        alt="Chef logo vector created by freepik - www.freepik.com" />
    </a>
    <input class="homepage-side-menu" type="checkbox" id="side-menu" />
    <label class="homepage-hamb" for="side-menu"><span class="homepage-hamb-line"></span></label>
    <nav class="homepage-nav">
      <ul class="homepage-menu">

        <li><a href="#">Gallery</a></li>
        <li><a href="#">Blog</a> </li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </section>

  <section class="homepage-search-bar">
    <div class="homepage-search__container">
      <input class="homepage-search__input" type="text" placeholder="Search">
    </div>
  </section>
  <section class="homepage-top-menu">
    <a class="homepage-categories" href="#">All recipes</a>
    <a class="homepage-categories" href="#">Favourites</a>
    <a class="homepage-categories" href="#">This week</a>
  </section>
  <section class="homepage-recipes">

    <% food.forEach((food)=> { %>
      <div class="homepage-recipe-card">
        <div style="background: url(<%=food.image%>),
          #C4C4C4" class="homepage-recipe-image"></div>
        <h1 class="homepage-recipe-title">
          <%=food.title %>
        </h1>
        <div class="homepage-recipe-details">
          <p class="homepage-recipe-duration">
            <%=food.cookingTime %>
          </p>
          <p class="homepage-recipe-calories">
            <%=food.ingredients[0].nutrition[0].calories %>
          </p>
        </div>
        <div class="homepage-add-to-list">
          <div class="homepage-recipe-addtolist"><i class="lni lni-plus"></i></div>
        </div>
        <div class="homepage-add-to-favourites">
          <div class="homepage-recipe-favourite"><i class="lni lni-heart-filled"></i></div>
        </div>
      </div>
      <% }); %>

        <div class="homepage-recipe-card">
          <div class="homepage-recipe-image"></div>
          <h1 class="homepage-recipe-title">A big salad</h1>
          <div class="homepage-recipe-details">
            <p class="homepage-recipe-duration">10min</p>
            <p class="homepage-recipe-calories">200kcal</p>
          </div>
          <div class="homepage-add-to-list">
            <div class="homepage-recipe-addtolist"><i class="lni lni-plus"></i></div>
          </div>
          <div class="homepage-add-to-favourites">
            <div class="homepage-recipe-favourite"><i class="lni lni-heart-filled"></i></div>
          </div>

        </div>
        <div class="homepage-recipe-card">
          <div class="homepage-recipe-image"></div>
          <h1 class="homepage-recipe-title">A big salad</h1>
          <div class="homepage-recipe-details">
            <p class="homepage-recipe-duration">10min</p>
            <p class="homepage-recipe-calories">200kcal</p>
          </div>
          <div class="homepage-add-to-list">
            <div class="homepage-recipe-addtolist"><i class="lni lni-plus"></i></div>
          </div>
          <div class="homepage-add-to-favourites">
            <div class="homepage-recipe-favourite"><i class="lni lni-heart-filled"></i></div>
          </div>
        </div>

        <div class="homepage-recipe-card">
          <div class="homepage-recipe-image"></div>
          <h1 class="homepage-recipe-title">A big salad</h1>
          <div class="homepage-recipe-details">
            <p class="homepage-recipe-duration">10min</p>
            <p class="homepage-recipe-calories">200kcal</p>
          </div>
          <div class="homepage-add-to-list">
            <div class="homepage-recipe-addtolist"><i class="lni lni-plus"></i></div>
          </div>
          <div class="homepage-add-to-favourites">
            <div class="homepage-recipe-favourite"><i class="lni lni-heart-filled"></i></div>
          </div>
        </div>

        <div class="homepage-recipe-card">
          <div class="homepage-recipe-image"></div>
          <h1 class="homepage-recipe-title">A big salad</h1>
          <div class="homepage-recipe-details">
            <p class="homepage-recipe-duration">10min</p>
            <p class="homepage-recipe-calories">200kcal</p>
          </div>
          <div class="homepage-add-to-list">
            <div class="homepage-recipe-addtolist"><i class="lni lni-plus"></i></div>
          </div>
          <div class="homepage-add-to-favourites">
            <div class="homepage-recipe-favourite"><i class="lni lni-heart-filled"></i></div>
          </div>
        </div>

        <div class="homepage-recipe-card">
          <div class="homepage-recipe-image"></div>
          <h1 class="homepage-recipe-title">A big salad</h1>
          <div class="homepage-recipe-details">
            <p class="homepage-recipe-duration">10min</p>
            <p class="homepage-recipe-calories">200kcal</p>
          </div>
          <div class="homepage-add-to-list">
            <div class="homepage-recipe-addtolist"><i class="lni lni-plus"></i></div>
          </div>
          <div class="homepage-add-to-favourites">
            <div class="homepage-recipe-favourite"><i class="lni lni-heart-filled"></i></div>
          </div>
        </div>
  </section>
</div>

<div id="homepage-footer">
  <div class="homepage-footer-buttons">
    <div class="homepage-random-button"><i class="lni lni-shuffle"><a href="#"></a></i></div>
    <div class="homepage-addrecipe-button"><i class="lni lni-plus"><a href="#"></a></i></div>
    <div class="homepage-list-button"><i class="lni lni-list"><a href="#"></a></i></div>
  </div>
</div>