<div class="body-overlay"></div>

<div class="background">

      <section class="top-nav">
        <a href="#" class="homepage">
            <img class="logo" src="https://i.postimg.cc/bJVCWfkT/NACLogo.png" alt="Chef logo vector created by freepik - www.freepik.com"/>
        </a>
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        <nav class="nav">
            <ul class="menu">
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Blog</a> </li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
      </section>
      <section class="search-bar">
        <div class="search__container">
            <input class="search__input" type="text" placeholder="Search">
        </div>
      </section>
     <section class="top-menu">
         <a class="categories" href="#">All recipes</a>
         <a class="categories" href="#">Favourites</a>
         <a class="categories" href="#">This week</a>
     </section>
     <section class="recipes">

       <div class="recipe-card">
         <div class="recipe-image"></div>
         <h1 class="recipe-title">A big salad</h1>
         <div class="recipe-details">
         <p class="recipe-duration">10min</p>
         <p class="recipe-calories">200kcal</p>
        </div>
        <div class="add-to-list">
        <div class="recipe-addtolist"><i class="lni lni-plus"></i></div>
      </div>
        <div class="add-to-favourites">
          <div class="recipe-favourite"><i class="lni lni-heart-filled"></i></div>
          </div>   
       </div>

       <div class="recipe-card">
        <div class="recipe-image"></div>
        <h1 class="recipe-title">A big salad</h1>
        <div class="recipe-details">
          <p class="recipe-duration">10min</p>
          <p class="recipe-calories">200kcal</p>
         </div>
         <div class="add-to-list">
         <div class="recipe-addtolist"><i class="lni lni-plus"></i></div>
        </div>
         <div class="add-to-favourites">
          <div class="recipe-favourite"><i class="lni lni-heart-filled"></i></div>
          </div>

       </div>
       <div class="recipe-card">
        <div class="recipe-image"></div>
        <h1 class="recipe-title">A big salad</h1>
        <div class="recipe-details">
          <p class="recipe-duration">10min</p>
          <p class="recipe-calories">200kcal</p>
         </div>
         <div class="add-to-list">
         <div class="recipe-addtolist"><i class="lni lni-plus"></i></div>
         </div>
         <div class="add-to-favourites">
          <div class="recipe-favourite"><i class="lni lni-heart-filled"></i></div>
          </div>  
       </div>

       <div class="recipe-card">
        <div class="recipe-image"></div>
        <h1 class="recipe-title">A big salad</h1>
        <div class="recipe-details">
          <p class="recipe-duration">10min</p>
          <p class="recipe-calories">200kcal</p>
         </div>
         <div class="add-to-list">
         <div class="recipe-addtolist"><i class="lni lni-plus"></i></div>
        </div>
         <div class="add-to-favourites">
          <div class="recipe-favourite"><i class="lni lni-heart-filled"></i></div>
          </div>
       </div>

       <div class="recipe-card">
        <div class="recipe-image"></div>
        <h1 class="recipe-title">A big salad</h1>
        <div class="recipe-details">
          <p class="recipe-duration">10min</p>
          <p class="recipe-calories">200kcal</p>
         </div>
         <div class="add-to-list">
         <div class="recipe-addtolist"><i class="lni lni-plus"></i></div>
        </div>
         <div class="add-to-favourites">
          <div class="recipe-favourite"><i class="lni lni-heart-filled"></i></div>
          </div>
       </div>

       <div class="recipe-card">
        <div class="recipe-image"></div>
        <h1 class="recipe-title">A big salad</h1>
        <div class="recipe-details">
          <p class="recipe-duration">10min</p>
          <p class="recipe-calories">200kcal</p>
         </div>
         <div class="add-to-list">
         <div class="recipe-addtolist"><i class="lni lni-plus"></i></div>
        </div>
         <div class="add-to-favourites">
          <div class="recipe-favourite"><i class="lni lni-heart-filled"></i></div>
          </div>
       </div>
     </section>
       <div id="footer">
         <div class="footer-buttons">
           <div class="random-button"><i class="lni lni-shuffle"><a href="#"></a></i></div>
           <div class="addrecipe-button"><i class="lni lni-plus"><a href="#"></a></i></div>
           <div class="list-button"><i class="lni lni-list"><a href="#"></a></i></div>
         </div>
       </div>
     
     
</div>