<html>

<head>
  <title>Node.Js and Passport App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/static/stylesheets/registerScreen.css" type="text/css">
  <link rel="stylesheet" href="/static/stylesheets/listPreview.css" type="text/css">
  <link rel="stylesheet" href="/static/stylesheets/loginScreen.css" type="text/css">
  <link rel="stylesheet" href="/static/stylesheets/flashes.css" type="text/css">
  <link rel="stylesheet" href="/static/stylesheets/homestyle.css" type="text/css">
  <link rel="stylesheet" href="/static/stylesheets/addManualRecipe.css" type="text/css">
  <link rel="stylesheet" href="/static/stylesheets/flashes.css" type="text/css">
  <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link
    href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap"
    rel="stylesheet" />
  <style>
    body {
      background-image: url('/static/assets/background-photo-blur.png');
      background-size: cover;
      background-position: center;
    }
  </style>

</head>

<body>
  <%- body %>

  <script src="/static/scripts/smoothScroll.js"></script>
  <script src="/static/scripts/newRecipe.js"></script>
  <script src="/static/scripts/homepagescript.js"></script>
  <script src="/static/scripts/addManualRecipescript.js"></script>

</body>

</html>