<html>

<head>
  <title>Node.Js and Passport App</title>
  <link rel="stylesheet" href="/static/stylesheets/dashboard.css" type="text/css">
  <link rel="stylesheet" href="/static/stylesheets/registerScreen.css" type="text/css">
</head>

<body>
  <%- body %>
</body>

</html>