<div class="main">
    <header>
        <div class="logo">
            <i class="burger-menu"></i>
        </div>
        <div class="menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>   
        <div class="list-container">
            <div class="section-container"></div>
                <div class="header-container">
                    <i class="<i class="fa-solid fa-meat placeholder"></i>"
                </div>
                <div class="ingredient-container">

                </div>
    </div>
</div>

