<div id="listPreview-container">

<section class="listPreview-topNav">
    <a href="#" class="listPreview">
        <img class="listPreview-logo" src="static/assets/NACLogo.png" alt="Chef logo vector created by freepik - www.freepik.com"/>
    </a>
    <input class="listPreview-side-menu" type="checkbox" id="side-menu"/>
        <label class="listPreview-hamb" for="side-menu"><span class="listPreview-hamb-line"></span></label>
        <nav class="listPreview-nav">
            <ul class="listPreview-menu">
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Blog</a> </li>
                <li><a href="#">About</a></li>
            </ul>   
</section>
<section class="listPreview-allList">
 <div class="listPreview-recipeList">
        <div class="listPreview-accordion">
            <input type="checkbox" name="collapse" id="handle1" checked="checked">
            <h2 class="listPreview-handle">
            <label class="listPreview-accordiontitle" for="handle1">Recipe Title</label>
            </h2>
        <div class="listPreview-content"> 
            <div class="listPreview-dropdown"> 
                <div class="listPreview-ingredientList">  
                    <input type="checkbox" class="listPreview-ingredients" name="ingredient1" value="ingredient1">
                    <label class="listPreview-ingredientscontent" for="ingredient1"> Ingredient 1</label><br>
                </div> 
                <div class="listPreview-ingredientList">    
                    <input type="checkbox" class="listPreview-ingredients" name="ingredient2" value="ingredient2">
                    <label class="listPreview-ingredientscontent" for="ingredient2"> Ingredient 2</label><br>
                </div> 
                <div class="listPreview-ingredientList">  
                    <input type="checkbox" class="listPreview-ingredients" name="ingredient3" value="ingredient3">
                    <label class="listPreview-ingredientscontent" for="ingredient3"> Ingredient 3</label><br>
                </div> 
            </div>
        </div>
    </div>
     <div class="listPreview-head">
        <div class="listPreview-select">
                <select name="portions" id="listPreview-portions">
                <option value="1 pers">1 pers</option>
                <option value="2 pers">2 pers</option>
                <option value="3 pers">3 pers</option>
                <option value="4 pers">4 pers</option>
                <option value="5 pers">5 pers</option>
                <option value="6 pers">6 pers</option>
               </select>
        </div>
               <div class="listPreview-recipeDelete"><i class="lni lni-close"></i></div>
     </div>
 </div>

 <div class="listPreview-recipeList">
    <div class="listPreview-accordion">
        <input type="checkbox" name="collapse" id="handle2" checked="checked">
        <h2 class="listPreview-handle">
        <label class="listPreview-accordiontitle" for="handle2">Recipe Title</label>
        </h2>
    <div class="listPreview-content"> 
        <div class="listPreview-dropdown"> 
            <div class="listPreview-ingredientList">  
                <input type="checkbox" class="listPreview-ingredients" name="ingredient1" value="ingredient1">
                <label class="listPreview-ingredientscontent" for="ingredient1"> Ingredient 1</label><br>
            </div> 
            <div class="listPreview-ingredientList">    
                <input type="checkbox" class="listPreview-ingredients" name="ingredient2" value="ingredient2">
                <label class="listPreview-ingredientscontent" for="ingredient2"> Ingredient 2</label><br>
            </div> 
            <div class="listPreview-ingredientList">  
                <input type="checkbox" class="listPreview-ingredients" name="ingredient3" value="ingredient3">
                <label class="listPreview-ingredientscontent" for="ingredient3"> Ingredient 3</label><br>
            </div> 
        </div>
    </div>
</div>
 <div class="listPreview-head">
    <div class="listPreview-select">
            <select name="portions" id="listPreview-portions">
            <option value="1 pers">1 pers</option>
            <option value="2 pers">2 pers</option>
            <option value="3 pers">3 pers</option>
            <option value="4 pers">4 pers</option>
            <option value="5 pers">5 pers</option>
            <option value="6 pers">6 pers</option>
           </select>
    </div>
           <div class="listPreview-recipeDelete"><i class="lni lni-close"></i></div>
 </div>
</div>
<div class="listPreview-recipeList">
    <div class="listPreview-accordion">
        <input type="checkbox" name="collapse" id="handle3" checked="checked">
        <h2 class="listPreview-handle">
        <label class="listPreview-accordiontitle" for="handle3">Recipe Title</label>
        </h2>
    <div class="listPreview-content"> 
        <div class="listPreview-dropdown"> 
            <div class="listPreview-ingredientList">  
                <input type="checkbox" class="listPreview-ingredients" name="ingredient1" value="ingredient1">
                <label class="listPreview-ingredientscontent" for="ingredient1"> Ingredient 1</label><br>
            </div> 
            <div class="listPreview-ingredientList">    
                <input type="checkbox" class="listPreview-ingredients" name="ingredient2" value="ingredient2">
                <label class="listPreview-ingredientscontent" for="ingredient2"> Ingredient 2</label><br>
            </div> 
            <div class="listPreview-ingredientList">  
                <input type="checkbox" class="listPreview-ingredients" name="ingredient3" value="ingredient3">
                <label class="listPreview-ingredientscontent" for="ingredient3"> Ingredient 3</label><br>
            </div> 
        </div>
    </div>
</div>
 <div class="listPreview-head">
    <div class="listPreview-select">
            <select name="portions" id="listPreview-portions">
            <option value="1 pers">1 pers</option>
            <option value="2 pers">2 pers</option>
            <option value="3 pers">3 pers</option>
            <option value="4 pers">4 pers</option>
            <option value="5 pers">5 pers</option>
            <option value="6 pers">6 pers</option>
           </select>
    </div>
           <div class="listPreview-recipeDelete"><i class="lni lni-close"></i></div>
 </div>
</div>
<div class="listPreview-recipeList">
    <div class="listPreview-accordion">
        <input type="checkbox" name="collapse" id="handle4" checked="checked">
        <h2 class="listPreview-handle">
        <label class="listPreview-accordiontitle" for="handle4">Recipe Title</label>
        </h2>
    <div class="listPreview-content"> 
        <div class="listPreview-dropdown"> 
            <div class="listPreview-ingredientList">  
                <input type="checkbox" class="listPreview-ingredients" name="ingredient1" value="ingredient1">
                <label class="listPreview-ingredientscontent" for="ingredient1"> Ingredient 1</label><br>
            </div> 
            <div class="listPreview-ingredientList">    
                <input type="checkbox" class="listPreview-ingredients" name="ingredient2" value="ingredient2">
                <label class="listPreview-ingredientscontent" for="ingredient2"> Ingredient 2</label><br>
            </div> 
            <div class="listPreview-ingredientList">  
                <input type="checkbox" class="listPreview-ingredients" name="ingredient3" value="ingredient3">
                <label class="listPreview-ingredientscontent" for="ingredient3"> Ingredient 3</label><br>
            </div> 
        </div>
    </div>
</div>
 <div class="listPreview-head">
    <div class="listPreview-select">
            <select name="portions" class="listPreview-portions">
            <option value="1 pers">1 pers</option>
            <option value="2 pers">2 pers</option>
            <option value="3 pers">3 pers</option>
            <option value="4 pers">4 pers</option>
            <option value="5 pers">5 pers</option>
            <option value="6 pers">6 pers</option>
           </select>
    </div>
           <div class="listPreview-recipeDelete"><i class="lni lni-close"></i></div>
 </div>
</div>
</section>

</div>
<section class="listPreview-footer">
    <div class="listPreview-footer-buttons">
      <div class="listPreview-back-button"><i class="lni lni-arrow-left"></i><a href="#"></a></i></div>
      <div class="listPreview-reset-button"><i class="lni lni-reload"></i><a href="#"></a></i></div>
      <div class="listPreview-list-button"><i class="lni lni-checkmark"></i><a href="#"></a></i></div>
    </div>
</section>