<div class="list-main">
    <header>
        <div class="list-logo-container">
            <i class="list-logo"></i>
            <p>logo</p>
        </div>
        <div class="list-burg-container">
            <i class="list-burg fa-solid fa-bars"></i>
            <p>burger</p>
        </div>
    </header>   
    <div class="list-shopping-container">
        <div class="list-section-container"></div>
            <div class="list-header-container">
                <i class="fa-solid fa-meat placeholder"></i>"
                <p>vegetables</p>
            </div>
            <div class="list-ingredient-container">
                <div class="list-ingredient-section">
                    <div class="list-checkbox">
                        <p>X</p>
                    </div>
                    <div class="list-ingredient">
                            <p>salad</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

