<div class="list-main list-flex">
    <header class="list-flex">
        <div class="list-logo-container list-flex">
            <i class="list-logo"></i>
        </div>
        <div class="list-burg-container list-flex">
            <i class="list-burg fa-solid fa-bars"></i>
        </div>
    </header>   
                            
<section class="listPreview-footer">
    <div class="listPreview-footer-buttons">
        <div class="listPreview-back-button"><i class="list-arrow lni lni-arrow-left"></i><a href="#"></a></i></div>
        <div class="listPreview-reset-button"><i class="fa-solid fa-house"></i><a href="#"></a></i></div>
        <div class="listPreview-list-button"><i class=" list-hidden fa-solid fa-house"></i><a href="#"></a></i></div>
    </div>
</section>

<div class="list-empty"></div>

</div>


