<!-- <div class="background-image"> -->



 
  <div class="login-content-container">

    <div class="login-logo-container">
      <div class="login-logo"></div>
    </div>

    <div class="login-input-container">
      
      <div class="login-separator">
        <input class="login-input" type="text" name="email" placeholder="E-mail">
        <div class="login-grey"></div>
      </div>
      <div class="login-separator">
        <input class="login-input" type="text" name="password" placeholder="Password">
        <div class="login-grey"></div>
      </div>


      <div class="login-forgot-container">
        <p class="login-forgot-text"><a class="login-nav-text" href="">Forgot your password?</a></p>
      </div>
    </div>


    <div class="login-button-container">
      <button class="login-button">Login</button>
    </div>

    <div class="login-nav-container">
      <p class="login-text">Don't have an account yet? <a class="login-nav-text" href="">Register!</a></p>
    </div>
  </div>

<!-- </div> -->