<div class="overlay"></div>
<div class="background-image">


  <!-- <img src="../public/assets/NACLogo.png" alt="our logo" height="500" width="500"> -->
  <div class="content-container">

    <div class="logo-container">
      <div class="logo"></div>
    </div>

    <div class="input-container">
      <input class="register-input" type="text" name="name" placeholder="name">
      <div class="grey"></div>
      <input class="register-input" type="text" name="email" placeholder="E-mail">
      <div class="grey"></div>
      <input class="register-input" type="text" name="password" placeholder="Password">
      <div class="grey"></div>
      <input class="register-input" type="text" name="password2" placeholder="Confirm Password">
      <div class="grey"></div>
    </div>

    <div class="button-container">
      <button class="register-button">Register</button>
    </div>

    <div class="nav-container">
      <p class="text">Already have an accoun? <a class="nav-text" href="">Login!</a></p>
    </div>
  </div>






</div>