<!-- <div class="background-image"> -->



 
  <div class="register-content-container">

    <div class="register-logo-container">
      <div class="register-logo"></div>
    </div>

    <div class="register-input-container">
      <div class="register-separator">
        <input class="register-input" type="text" name="name" placeholder="Name">
        <div class="register-grey"></div>
      </div>
      <div class="register-separator">
        <input class="register-input" type="text" name="email" placeholder="E-mail">
        <div class="register-grey"></div>
      </div>
      <div class="register-separator">
        <input class="register-input" type="text" name="password" placeholder="Password">
        <div class="register-grey"></div>
      </div>
      <div class="register-separator">
        <input class="register-input" type="text" name="password2" placeholder="Confirm Password">
        <div class="register-grey"></div>
      </div>


    </div>

    <div class="register-button-container">
      <button class="register-button">Register</button>
    </div>

    <div class="register-nav-container">
      <p class="register-text">Already have an accoun? <a class="register-nav-text" href="">Login!</a></p>
    </div>
  </div>

<!-- </div> -->