h1 {
  font-family: Raleway, sans-serif;
}

p {
  font-family: Quicksand, sans-serif;
}

.list-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  width: 100vw;
  height: 15vh;
}

.list-logo-container {
  width: 50%;
  padding-left: 5vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-logo-container .list-logo {
  background-image: url("https://i.postimg.cc/bJVCWfkT/NACLogo.png");
  background-size: cover;
  height: 70px;
  width: 100px;
}

.list-burg-container {
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-burg-container .list-burg {
  padding-right: 5vh;
  font-size: 30px;
}

.list-shopping-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-section-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3C1B43;
  width: 100vw;
}

.list-header-container {
  background-color: #5BA750;
  width: 100vw;
  height: 6vh;
  border-bottom: 1px solid #3C1B43;
}

.list-header-container .list-food-img-container {
  height: 100%;
  width: 35%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-header-container .list-food-img-container i {
  font-size: 30px;
  color: white;
}

.list-header-container label > h1 {
  color: white;
  padding-left: 5vh;
}

i.arrow {
  padding-right: 5vh;
  font-size: 20px;
  color: #3C1B43;
}

.fa-house {
  font-weight: bold !important;
  font-size: 25px !important;
  color: #5BA750;
}

.list-ingredients-container {
  width: 80vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10vh;
}

.list-ingredients-container .list-ingredient {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

.list-ingredients-container p {
  padding-left: 5vh;
  font-weight: 500;
}

.list-hidden {
  visibility: hidden;
}

.list-empty {
  width: 100vw;
  height: 55vh;
}

.doneList .list-ingredient {
  display: none;
}

.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  overflow-y: hidden;
  height: 0;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
}

.accordion label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=list.css.map */