$logo: url('https://i.postimg.cc/bJVCWfkT/NACLogo.png');
$green: #5BA750;
$purple: #3C1B43;

h1 {
    font-family: Raleway, sans-serif;
}

p {
    font-family: Quicksand, sans-serif;
}

@mixin center ($direction) {
    justify-content: $direction;
    align-items: center;
}

.list-flex {
    display: flex;
}

.list-main {
    flex-direction: column;
}

header {
    width: 100vw;
    height: 15vh;
}

.list-logo-container {
    width: 50%;
    padding-left: 5vh;
    @include center(flex-start);
    .list-logo {
    background-image: $logo;
    background-size: cover;
    height: 70px;
    width: 100px;
    }
}
  
.list-burg-container {
    width: 50%;
    @include center(flex-end);
    .list-burg {
        padding-right: 5vh;
        font-size: 30px;
    }
}

.list-shopping-container {
    flex-direction: column;
}

.list-section-container {
    flex-direction: column;
    background-color: #3C1B43;
    width: 100vw;
}

.list-header-container {
    background-color: #5BA750;
    width: 100vw;
    height: 6vh;
    border-bottom: 1px solid $purple;
    .list-food-img-container {
        height: 100%;
        width: 35%;
        @include center(center);
        i {
            font-size: 30px;
            color: white;
        }
    }
    label > h1 {
        color: white;
        padding-left: 5vh;
        font-size: 18px;
    }
}

i.arrow {
    padding-right: 5vh;
    font-size: 20px;
    color: $purple;
}

.fa-house {
    font-weight: bold !important;
    font-size: 25px !important;
    color: $green;
}


.list-ingredients-container {
    width: 80vw;
    flex-direction: column;
    padding-left: 10vh;

    .list-ingredient {
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
    }
        p {
            padding-left: 5vh;
            font-weight: 500;
     }
}

.list-hidden {
    visibility: hidden;
}

.list-empty {
    width: 100vw;
    height: 55vh;
}

.doneList {
    .list-ingredient {
        display: none;
    }
}

.accordion > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}
  
.accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
}
  
.accordion > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
}
  
.accordion label {
    display: flex;
    width: 100%;
    @include center(space-between);
}

