*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

    
    
    .login-content-container {
        display: flex;
        padding: 20px;
        margin: 20px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
    }
    
    .login-logo-container {
        width: 200px;
        margin: 20px;
    }
    
    .login-logo {
        background-image: url("../assets/NACLogo.png");
        background-size: cover;
        background-position: center;
        height: 200px;
    }
    
    .login-input-container {
        flex-direction: column;
        justify-content: space-between;
        /* align-items: center; */
        height: 500px;
        width: 100%;
        margin: 20px;
        /* padding: 20px; */
        /* margin-top: 50px; */
        display: flex;
    }
    
    .login-separator {
        margin-top: 20px;
        /* margin-bottom: 20px; */
    }
    
    
    .login-input {
        border: none;
        box-shadow: none;
        outline: 0;
        background-color: transparent;
        font-size: 1em;
        font-family: quicksand, sans-serif;
        margin-bottom: 10px;
        padding-left: 20px;
        margin-top: 10px;
    }
    
    .login-grey {
        height: 1px;
        width: 100%;
        background-color: #5D737E;
        transition: 0.4s;
    }
    
    .login-input:focus + .login-grey{
      background-color: #A9ABA5;
    }
    
    
    .login-button-container {
        margin: 20px;
        padding: 20px;
        /* margin-bottom: 30px; */
    }
    
    .login-button {
        background-color: #5BA750;
        color: white;
        border: none;
        border-radius: 75px;
        cursor: pointer;
        height: 50px;
        width: 200px;
        font-size: 1em;
        font-family: quicksand, sans-serif;
    }
    
    .login-nav-container {
        height: 25px;
        width: 100%;
        margin: 20px;
        /* padding: 20px; */
        /* background-color: white; */
        border-radius: 75px;
        /* opacity: 0.5; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .login-forgot-container {
        height: 16px;
        width: 170px;
        /* margin-top: ; */
        /* padding: 20px; */
        /* background-color: white; */
        border-radius: 75px;
        /* opacity: 0.5; */
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
    }
    .login-text {
        font-size: 0.94em;
        font-family: quicksand, sans-serif;
        color: 3C1B43;
        cursor: pointer;
        align-self: center;
        color: #1c2226;
    }

    .login-forgot-text{
        font-size: 0.75em;
        font-family: quicksand, sans-serif;
        color: 3C1B43;
        cursor: pointer;
        align-self: center;
        color: #1c2226;
    }
    .login-nav-text {
        color: #3C1B43;
        cursor: pointer;
        text-decoration-line: underline;
    }
    
    
    
    